.Home {
  background-color: #ebedef;
  height: 100%;
  margin-top: 100px;

  &__table-action {
    display: flex;
    flex-direction: column;

    button {
      margin: 2px 0px;
    }
  }

  &__add-btn {
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
  }
}